<div class="container-fluid bg-info">
  <div id="contacts" class="container ">
    <a href="https://www.instagram.com/explore/tags/cannabis/" target="_blank">
      <img class="image" src="../../../../assets/icons/instagram.png" alt="Instagram">
    </a>
    <a href="https://twitter.com/hashtag/cannabis" target="_blank">
      <img class="image" src="../../../../assets/icons/twitter.png" alt="Twitter">
    </a>
    <a href="https://www.youtube.com/watch?v=PwciNb-BZIk" target="_blank">
      <img class="image" src="../../../../assets/icons/youtube.png" alt="Youtube">
    </a>
  </div>
</div>
