<div id="types">
<div class="container d-flex justify-content-center">
    <h1 class="mb-3">Types</h1>
</div>

<div class="container">
  <div class="row">
<ng-container *ngFor="let type of types">
    <div class="col-md-6 col-lg-4">
      <div class="card-deck">
      <div class="card">
        <img class="card-img-top img-fluid" src="{{type.profilePicture}}">
        <div class="card-body justify-content-center">
          <p class="card-text">
            {{type.description}}
          </p>
          <button class="btn btn-primary" [routerLink]="'/' + type.key" routerLinkActive="active">Read More</button>
        </div>
      </div>
      </div>
    </div>
</ng-container>
  </div>

</div>
</div>
