<div class="main">
<img src="../../../assets/image/title.jpg" alt="GOOD!" class="image">
<form [formGroup]="form">
  <div class="login-form">
    <div>
      <div class="input">
        <mat-icon> sentiment_satisfied_alt</mat-icon>
        <label>
          <input matInput placeholder="Login" formControlName="login" name="something">
        </label>
      </div>
      <div class="input">
        <mat-icon>https</mat-icon>
          <label>
            <input matInput placeholder="Password" type="password" formControlName="password" name="something">
          </label>
      </div>
    </div>
<!--    <a (click)="login(form)" type="submit" class="welcome">Welcome</a>-->
    <button class="welcome" type="submit" (click)="login(form)">Welcome</button>
    <p></p>
    <div *ngIf="sorry">Sorry dud, but next time !</div>
  </div>
</form>
</div>
