<!--<div>-->
      <!--<input matInput placeholder="Favorite food" [(ngModel)]="newItem">-->
  <!--<button (click)="addItem()">Add</button>-->
<!--<ul *ngFor="let item of items">-->
  <!--<li>{{item.name}}</li> <button ng-click="delete(item)">delete</button>-->
<!--</ul>-->
<!--</div>-->

<div class="container" id="about">
  <!--<img src="../../../../assets/image/bg.jpg" style="width: 100%">-->
  <div class="about-container">
  <div class="about-h justify-content-center">
    <img src="../../../../assets/image/cannabis-2122871_640.png" class="image"><h3>About Cannabis</h3>
  </div>

  <div class="about-text">
    <p class="first-p">Cannabis is derived from the cannabis plant (cannabis sativa). It grows wild in many of the tropical and
      temperate areas of the world. It can be grown in almost any climate, and is increasingly cultivated by means of
      indoor hydroponic technology.
    </p>
    <p class="second-p">The main active ingredient in cannabis is called delta-9 tetrahydro-cannabinol, commonly known as THC. This is
      the part of the plant that gives the "high." There is a wide range of THC potency between cannabis products.</p>
    <p class="thirs-p">Cannabis is used in three main forms: marijuana, hashish and hash oil. Marijuana is made from dried flowers and
      leaves of the cannabis plant. It is the least potent of all the cannabis products and is usually smoked or made
      into edible products like cookies or brownies (see Factsheet: Marijuana Edibles). Hashish is made from the resin
      (a secreted gum) of the cannabis plant. It is dried and pressed into small blocks and smoked. It can also be added
      to food and eaten. Hash oil, the most potent cannabis product, is a thick oil obtained from hashish. It is also
      smoked.</p>
    <p class="four-p">Cannabis is usually smoked in hand-rolled cigarettes (known as "joints") or in special waterpipes ("bongs").
      These pipes or bongs can be bought or made from things such as orange juice containers, soft drink cans or even
      toilet rolls.</p>
  </div>
  </div>
</div>

